*{
	box-sizing: border-box;
	font-weight: inherit;
	font-family: "Lato", sans-serif;
}

body {
	width: 80%;
	margin: 50px auto;	
}

.top-row {
	width : 100%;
	display : flex;
}

.logo {
	width : 20%;
	padding: 10px;
}

.title {
	width: 80%;
	text-align : right;
	color : #2d3c49;
	font-weight: lighter;
}

.scenary {
	width: 100%;
}

.bottom {
	display : flex;
	flex-wrap: wrap;

}

.articles {
	text-align : center;
	color : #2d3c49;
	width: 33%;
	line-height: 0;
	padding: 5px;
	font-weight: bold;

}

.animals {
	width: 100%;
}

a {
	color: #2d3c49;
	font-weight: lighter;
	font-size: 12px;
}

.featured {
	color : #7d97ad;
	font-weight: bold;
}

hr{
	height: 2px;
	border: none;
	color: #7d97ad;
	background-color: #7d97ad;
}